<script>
import PieChart from './PieChart.vue';

export default {
    components: {
        PieChart
    },
    methods: {
        test() {
            this.data.labels.push(100);

        }
    },
    data () {
        return {
            msg: 'Hello Vue!',
            data: {
                labels: [
                    "Canada",
                    "Argentina"
                ],
                datasets: [
                    {
                        data: [300, 100],
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                        ]
                    }
                ]
            }
        }
    }
}
</script>

<template>
    <div id="app">
        <h1>Possetion</h1>
        <pie-chart :data="data"></pie-chart>
        <!-- <button @click="test()" >change</button> -->
    </div>
</template>

<style>
    body {
        font-family: Helvetica, sans-serif;
    }
</style>
