<script>
import Chart from 'chart.js'

export default {

    name: 'PieChart',

    props: ['data'],

    data () {
        return {
        }
    },
    methods:{
        test() {
            this.data.datasets[0].data = [500,700];
        }
    },
    ready () {
        var myPieChart = new Chart(
            this.$els.canvas.getContext("2d"),
            {
                type: 'pie',
                data: this.data,
                options: {
                    responsive: false,
                    cutoutPercentage: 0
                }
            }
        );
    }
};
</script>
<template>
    <div>
        <canvas v-el:canvas width="400" height="400" class="pie-chart"></canvas>
        <button @click="test()">Click</button>
        <pre>{{ data.datasets[0].data | json }}</pre>
    </div>
</template>
<style lang="css" scoped>
</style>
